.inner-form-wrapper {
  display: flex;
  justify-content: center;
  &.form-and-result {
    justify-content: space-between;
    form {
      width: 45%;
    }
  }

  .input-and-results {
    margin-left: 40px;
    flex: 1;
  }

  .results-only {
    width: 100%;
  }

  > div {
    h1 {
      margin-top: 0px;
    }
  }
}