.layout {
  display: grid;
  grid-template-columns: auto 1fr;
}

.mainContent {
  height: 100vh;
  height: -webkit-fill-available;
  overflow-y: scroll;
  overflow-x: hidden;
}

.topBar {
  align-items: center;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  padding: var(--spacing-m);
}

.tippityTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m);
}
