.sidebar {
  font-size: 0.9em;
  padding: var(--spacing-m);
  position: relative;
}

.nav {
  width: 100%;
  z-index: 2;
}

.logo {
  text-align: center;
}

.arrow {
  --width: 12px;
  border: var(--width) solid transparent;
  border-radius: var(--br-small);
  border-bottom-color: var(--dark);
  position: absolute;
  top: calc(-1 * var(--width));
}
